version: '2'
services:
  web-app:
    image: duluca/minimal-mean-web-app
    ports:
      - '80:3000'
    links:
      - server
    # depends_on:
    #   - server

  server:
    image: duluca/minimal-mean-server
    env_file: .env
    ports:
      - '3000:3000'
    links:
      - database
    # depends_on:
    #   - database

  database:
    image: excellalabs/mongo:3.4.7
    env_file: .env
    ports:
      - '27017:27017'
    volumes:
     - '/tmp/minimal-mean-db:/data/db'